#insights {
    display: grid;
    grid-template-rows: 5vh 10vh 71.5vh;
    grid-gap: 3%;
}

#upper-insights {
    display: flex;
    justify-content: space-between;
}

#upper-insights > .dashboard {
    width: 32.5%;
    display: flex;
}

.dashboard-content {
    width: 100%;
    margin-left: -15%;
    text-align: center;
    transition: 0.5s;
}

.dashboard-content:hover {
    transform: scale(1.01);
}

.dashboard-content > h1 {
    font-size: 1.25vw;
    margin-top: 7.5px;
}

.dashboard {
    height: 100%;
}

.dashboard > h1  {
    font-size: 22px;
    margin-top: -4px;
}

.dashboard-image {
    background-color: var(--nav-color);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.dashboard-image > img {
    width: 4vw;
    padding: 7%;
    margin-top: -5%;
}

.list-group-item.list-group-item-action {
    background-color: var(--sidebar-color);
    border: none;
    color: var(--main-color);
    transition: 0.5s;
    font-size: 1.1vw;
    padding: 5%;
}

.list-group-item.list-group-item-action.active {
    color: var(--nav-color);
}

.list-group-item.list-group-item-action:hover {
    transform: scale(1.05);
}