#insights {
    display: grid;
    grid-template-rows: 5vh 20vh 61.5vh;
    grid-gap: 20px;
}

#upper-insights {
    display: flex;
    justify-content: space-between;

}

#upper-insights > .dashboard {
    width: 32.5%;
}

.dashboard {
    height: 100%;
}

.dashboard > h1 {
    font-size: 22px;
    margin-top: -4px;
}