#main-container {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    grid-gap: 10px;
    transition: 0.5s;
}

.dashboard {
    text-align: center;
    background-color: var(--sidebar-color);
    padding: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    height: 350px;
    width: 400px;
    margin: auto
}

.login-btn {
    background-color: var(--nav-color);
    color: var(--sec-color);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    display: block;
    width: 50%;
    border: none;
    margin: 30px auto;
}

.login-btn:hover {
    background-color: #00af89;
    cursor: pointer;
}

h1 {
    font-size: 30px;
}

form > h1 {
    margin-top: 10px;
    font-size: 20px;
}