
/* Left sidebar menu */
#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidebar-color);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
    box-shadow: 0px 0px 2.5px rgba(0, 0, 0, 0.4);
}

#sidebar > a, #sidebar > .sidebar-title {
    margin-top: 5px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: var(--main-color);
    display: block;
    transition: 0.3s;
    font-size: 19px;
}

#sidebar > a:hover {
    transform: scale(1.05);
    background-color: rgba(228, 228, 228, 0.733);
}

#sidebar > .sidebar-title {
    color: #666666;
    font-size: 13px;
    margin-bottom: -10px;
}

.app-title {
    text-align: center;
    color:var(--nav-color);
}

#sidebar > a.active {
    color: var(--nav-color);
}