
/* Left sidebar menu */
#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidebar-color);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
    margin-top: 45px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#sidebar > a, #sidebar > .sidebar-title {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: var(--main-color);
    display: block;
    transition: 0.3s;
    font-size: 20px;
}

#sidebar > a:hover {
    transform: scale(1.05);
}

#sidebar > .sidebar-title {
    color: var(--main-color);
    font-size: 13px;
    margin-bottom: -10px;
}

.app-title {
    text-align: center;
}
